<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Reddit Clone</a>
    </div>
  </div>
  <!-- /.container -->
</nav>

<div class="container">
  <div class="col-md-4">
    <h1>Add new post</h1>
    <br><br>
    <form name="postForm" ng-submit="postArticle()" novalidate>
      <div class="form-group">
        <label for="title-input">Title</label>
        <input ng-model='article.title' type="text" name="title" class="form-control ng-invalid" id="title-input" placeholder="Title" required>
        <span class="help-inline" ng-show="submitted && postForm.title.$error.required">Required</span>
      </div>
      <div class="form-group" ng-class="{true: 'error'}[submitted && postForm.author.$invalid]">
        <label for="author-input">Author</label>
        <input ng-model="article.author" type="text" name="author" class="form-control" id="author-input" placeholder="Author" required>
        <span class="help-inline" ng-show="submitted && postForm.author.$error.required">Required</span>
      </div>
      <div class="form-group" ng-class="{true: 'error'}[submitted && postForm.img.$invalid]">
        <label for="pic-input">Picture Link (URL)</label>
        <input ng-model="article.img" type="text" name="img" class="form-control" id="pic-input" placeholder="Picutre URL" required>
        <span class="help-inline" ng-show="submitted && postForm.img.$error.required">Required</span>
      </div>
      <div class="form-group" ng-class="{true: 'error'}[submitted && postForm.desc.$invalid]">
        <label for="desc-input">Description</label>
        <input ng-model='article.desc' type="text" name="desc" class="form-control" id="desc-input" placeholder="Description" required>
        <span class="help-inline" ng-show="submitted && postForm.desc.$error.required">Required</span>
      </div>
      <button type="submit" class="btn btn-success" ng-click="submitted=true">Add Post</button>
    </form>
  </div>
</div>