<div class="container" ng-controller="allPostsCtrl">
  <div class="col-sm-12">
    <div ng-repeat="post in posts | orderBy:'-votes'">
      <div class="panel-body media post">
        <div class="row">
          <div class="col-sm-2">
            <img class="img-post" src="{{post.img}}" alt="{{post.title}}" title="{{post.title}}">
          </div>
          <div class="col-sm-7">
            <div class="row">
              <h4 class="media-heading">
                <span class="{{post.color}}-font">{{post.votes}}</span>
                <span ng-click="upVote(post.id, post.votes)" class="glyphicon glyphicon-triangle-top link"></span>
                <span ng-click="downVote(post.id, post.votes)" class="glyphicon glyphicon-triangle-bottom link"></span>
                <span>&nbsp;&verbar;&nbsp;&nbsp;{{post.title}}</span>
              </h4>
            </div>
            <div class="row">
              <small>By&nbsp;<em>{{post.author}}</em></small>
              <br><br>
              <p>{{post.desc}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <h4><small>
              <span class="glyphicon glyphicon-calendar"></span>
              &nbsp;{{post.date}}
            </small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>